html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.align-wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: lightgray;
    display: grid;
    grid-row: 1fr 1fr;

        .align-text-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            font-size: 2em;
            padding-top: 20px;
        }

        .buttons-wrapper {
            // display: flex;
            // justify-content: space-around;  
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            text-align: center;
            font-size: 2em;

            button {
                height: 50px;
                width: 100px;
            }
        }

}

.toggle-wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    .text-wrapper {
        text-align: center;
        font-size: 4em;
    }

    button {
        padding: 20px;
        font-size: 4em;
        width: 70%;
    }
}

.up-and-down-wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: lightgray;
}

.pixels-wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: lightblue;
}

.color-me-wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: lightgray;
}

.clock-wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: lightblue;
}

.up-and-down-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    .number-wrapper {
        font-size: 3em;
    }

    button {
        height: 50%;
        width: 50%;
        font-size: 2em;

        

        &:hover {
            outline: none;
            -webkit-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
            box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
        }

    }
}
